@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Girassol&family=Oldenburg&family=Poiret+One&family=Megrim&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
	overflow: visible;
}

body {
	width: 100vw;
}
body::-webkit-scrollbar {
	display: none;
}

/* Hero */

.hero__title {
	z-index: 1;
	font-size: 100px;
	text-transform: uppercase;
	padding-top: calc(50vh - 100px);
	
	opacity: 0;
	color: #eaeaea;
	transform: translateY(40px);

	font-family: 'Cinzel Decorative', cursive;
	transition: opacity 2s .5s, transform 2s .5s;
}

.is-visible .hero__title {
	opacity: 1;
	transform: translateY(0px);
	
	transition: opacity 2s .5s, transform 2s .5s;
}

.hero__intro {
	z-index: 1;
	font-size: 23px;

	opacity: 0;
	color: #eaeaea;
	transform: translateY(40px);

	font-family: 'Cinzel Decorative', cursive;
	transition: opacity 1.5s 0s, transform 1.5s 0s;
}
.is-visible .hero__intro {
	opacity: 1;
	transform: translateY(0px);
	
	transition: opacity 1.5s 1.5s, transform 1.5s 1.5s;
}

.hero__bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}
.hero__bg::after {
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;

	display: block;
	position: absolute;

	opacity: 1;
	background: radial-gradient(rgba(0, 0, 0, .55) 70%, black);
	transition: opacity 4s;
}
.is-visible .hero__bg::after {
	opacity: 0;
}

.hero__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Sections */

section {
	min-height: 100vh;
	position: relative;
	padding-bottom: 150px;

	color: #b5b5b5;
}

section span {	
	font-family: 'Oldenburg';
}

.section__title {
	z-index: 1;

	display: block;
	padding: 50px 0 50px 0;

	color: #eaeaea;
	font-size: 100px;
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
}

.section__subtitle {
	z-index: 1;

	color: #eaeaea;
	font-size: 23px;
	font-weight: 100;
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
}

.section__panel {
	margin: 20px;
	padding: 20px;
	color: #cdcdcd;
	border-radius: 20px;

	width: 400px;
	height: 80%;
}
.section__panel.white {
	background-color: rgba(255, 255, 255, .5);
}
.section__panel.black {
	background-color: rgba(0, 0, 0, .5);
}

section a {
	color: whitesmoke;
	text-decoration: none;

	transition: color .5s;
}

section a:hover {
	color: #777;
}

/* Magnifier */
.img-magnifier-container {
	position: relative;
}	

.img-magnifier-glass {
	width: 150px;
	height: 150px;
	
	cursor: none;
	position: absolute;

	border-radius: 50%;
	border: 3px solid #000;
}

/* ID Specific Styling */

#rules span {
	padding-left: 1.5em;
    text-indent:-1.5em;
}

#map {
	padding-bottom: 0px;
}

#wildlandmap {
	width: 100%;
	border-radius: 20px;
	box-shadow: inset 0 0 100px black;
}
